* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card {
    width: 400px;
    height: 400px;
    background: black;
    margin: 0 auto;
    border-radius: 20px;
}

.card img {
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    border: 10px solid green;
    margin-top: 10px;
    margin-left: 90px;
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    border: 1px solid rgba(19, 231, 0, 0.18);
    border-radius: 1rem;
}

.card img:hover{
    box-shadow: 0 8px 32px 0 rgba(17, 202, 0, 0.857);
}

.card p {
    color: white;
    text-align: justify;
    margin: 12px;
    padding: 5px;
}