*{
    margin: 0px;
}

body{
    padding: 40px;
}

#cajas{
    max-width: 1035px;
    border: 2px solid black;
}

.caja{
    display: block;
    width: 250px;
    height: 250px;
    background-color: lightblue;
    border: 10px solid red;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 25px;
    padding: 20px;
    padding-bottom: 34px;
    float: left;
    /*las cajas se moveran a la derecha*/
    /* float: right; */
    /*las cajas se quedan por defecto*/
    /* float: none; */
}

.caja p{
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 250px;
}

.clearfix{
    float: none;
    clear: both;
}