*{
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    color: white;
    background-color: black;
    margin: 20px;
    padding: 10px;
    text-align: center;
}