*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img{
    width: 400px;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}