*{
    margin: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#nombre{
    margin: 10px;
    padding: 8px;
    border-radius: 5px;
    font-size: 12px;
    background: rgb(182, 205, 255);
}