* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', sans-serif;
}

header {
    background-color: #1a1a1a;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    font-size: 1rem;
    letter-spacing: 2px;
}

.bienvenida {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    gap: 15px;
    margin: 40px 20px;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}

.detalles p {
    line-height: 1.6;
    color: #333;
    text-align: justify;
    margin: 20px;
}

.bienvenida .img img {
    width: 32px;
    height: auto;
}