* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    text-align: center;
    padding: 20px;
}

.cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 20px;
}

.card {
    background: black;
    color: white;
    padding: 20px;
    border-radius: 10px;
    flex: 1 1 300px;
    max-width: 400px;
}
