* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    text-align: center;
    padding: 20px;
}

.cards {
    display: flex;
    height: 500px;
    align-items: flex-start;
    background-color: #f0f0f0;
    gap: 15px;
}

.card {
    flex: 1;
    background: black;
    color: white;
    padding: 20px;
}


.card.c2 {
    align-self: center;
    background: blueviolet;
}

.card.c3 {
    align-self: flex-end;
    background: orange;
}