* {
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    margin: 5px;
    padding: 5px;
    background: green;
    color: white;
}

h2{
    margin: 7px;
    padding: 7px;
    background-color: mediumblue;
    color: #f2f;
    font-size: 30px;
}