* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



a {
    text-decoration: none;
    margin: 18px;
    padding: 14px;
    background: black;
    border-radius: 10px;
    color: rgb(147, 52, 255);
    transition: 2s ease;
}
